// Google fonts

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Piedra&family=Roboto:wght@300;400;500;700;900&family=Sacramento&family=Tangerine:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


// theme colors

$light: #FAFAFE;
$dark: #383e56;
$primary-color: #6754e2;
$secondary-color: #413C85;

//set default font
$default-font: 'Poppins', sans-serif;

// reset css

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// set height and no horizontal scroll
html body {
  height: auto;
  overflow-x: hidden;
  font-family: $default-font;

  //remove form autofill background color
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  } 
}


// customize scrollbar 

::-webkit-scrollbar {
  width: 7px;
}

  // Track 
::-webkit-scrollbar-track {
  background: $light; 
}
 
  // Handle
::-webkit-scrollbar-thumb {
  background: #888; 
}

  // Handle hover
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


// default tag styles

p {
  color: #4B505E;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}


//set text color function

@function set-text-color($bg) {
  @if (lightness($bg) > 70) {
    @return #383e56;
  } @else {
     @return #eedad1;
  }
}

// set text color based on background mixin

@mixin set-background($bg-color) {
  background-color: $bg-color;
  color: set-text-color($bg-color);
}