.container {
  padding-left: 7%;
  padding-right: 7%;
  height: 100%;
}

section {
  padding: 10% 7%;
  height: 100vh;
  // position: sticky;
  // top: 0;
}

%float {
  position: absolute;
  width: 150px;
  max-width: 100%;
  opacity: 0.06;
}