@import 'config';
@import 'utilities';
@import 'buttons';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html body {
  height: auto;
}

body {
  font-family: $default-font;
  -ms-overflow-style: none; 
  scrollbar-width: none;  /* Firefox */
  overflow-y: -moz-scrollbars-none;

  &::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }

  /* Change the white to any color ;) */
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
    
}

p {
  color: #4B505E;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}

header {
  @extend .container;
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 1vh;
  transform: translateY(-200px);
  z-index: 1;
  opacity: 0;

  .logo-container {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Tangerine', cursive;
    font-size: 27px;
    height: 100%;
  }

  a {
    color: $dark;
  
    &:hover {
      color: $primary-color
    }

    h2 {
      margin: 0;
    }
  }

  .menu-btn {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 50px;
      width: 50px;
      // border-radius: 100%;
      background-color: transparent;
      margin-right: 20%;
      height: 100%;
    }

    &__container--open  {
      .menu-btn__bar:nth-child(1) {
        margin: 0;
        width: 8%;
        position: absolute;
        transform: rotate(45deg); //translate(1px);
        transition: transform .2s ease;
      }

      .menu-btn__bar:nth-child(2) {
        margin: 0;
        width: 8%;
        position: absolute;
        transform: rotate(-45deg); //translate(-1px);
        transition: transform .2s ease;
      }
    }

    &__bar {
      height: 2px;
      width: 70%;
      background-color: $dark;
      margin-top: 7%;
      margin-bottom: 7%;

      &:nth-child(2) {
        width: 50%;
      }
    }

    
  }

}

.scroll {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 7%;
  bottom: 5%;
  z-index: 1;

  &__btn {
    height: 7px;
    width: 7px;
    background-color: $dark;
    margin: 0.5rem;
    transform: rotate(45deg);
    cursor: pointer;

    &--current {
      border-radius: 100%;
      transform: scale(1.4);
      background-color: transparent;
      border: 1px solid $dark;
      box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.24);
    }

    &:hover {
      box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.24);
    }
  }
}

.scroll--light {
  .scroll__btn {
    background-color: $primary-color;

    &--current {
      background-color: transparent;
      border: 1px solid $primary-color;
      box-shadow: 0px 0px 2px 3px #d4b5b011;
    }

    &:hover {
      box-shadow: 0px 0px 2px 3px #d4b5b011;
    }
  }
}

#top {
  @include set-background($light);
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
  position: relative;

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  
    &__left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      width: 100%;
      z-index: 1;
  
      &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1% 15%;
  
        h1 {
          text-align: center;
          font-size: 45px;
          font-weight: 500;
          margin-bottom: 1.2rem;
          // font-family: 'Piedra', cursive;
        }
  
        p {
          text-align: center;
          line-height: 30px;
          font-weight: 300;
          margin: 0 0 1rem;
          font-size: 18px;
        }
  
        .hero__btn {
          display: flex;
          flex-direction: row;
        }
      }
    }
  
    &__right {
      display: flex;
      align-items: center;
      width: 50%;
      height: 100% !important;
      background-size: cover;
      z-index: 1;
      position: relative;

      .form-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: 1;
        padding: 0;

        form {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 0.4rem;
        }

        .form-group {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          label {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            border: 1px solid #e1e1e1;
            border-radius: 45px;
            overflow: hidden;
            background-color: transparent;
            padding: 7px 10px 7px 20px;
            background-color: #fff;

          }

          #email {
            width: 70%;
            padding: 0.7rem 1rem;
            border: none;
            background-color: #fff;
            box-shadow: none;
            border-radius: 45px;
            // font-size: 14px;

            &::placeholder {
              opacity: 0.5;
              color: $dark;
            }

            &:focus {
              outline: none;
            }
          }

          #submit {
            width: 30%;
            height: 100%;
            border: none;
            background-color: $primary-color;
            color: $light;
            border-radius: 45px;

            &:focus {
              outline: none;
            }
          }
        }
      }
    }


  
    &__social {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
  
      .fab {
        margin: 1rem;
        font-size: 40px;
      }
    }
  }
}

#second {
  @include set-background(#fff);
  
  .showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;;
    height: 100%;

    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 5rem;

      h2 {
        font-size: 35px;
        padding: 0% 7%;
      }

      p {
        text-align: center;
        padding: 0 20%;
      }
    }

    .display {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      width: 100%;

      .tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 30%;
        padding: 0 2%;

        .tab {
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 7%;
          margin: 7% 0;
          border-radius: 20px;
          box-shadow: 0 0 7px 0.2px rgba(0, 0, 0, 0.137);
          cursor: pointer;
          user-select: none;

          &__sn {
            margin-right: 10px;
            color: $primary-color;
            cursor: pointer;
            user-select: none;
          }

          &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            cursor: pointer;
            user-select: none;

            h2 {
              font-weight: 500;
              font-size: 18px;
              margin-bottom: 1rem;
              columns: $dark;
              opacity: 0.8;
            }

            p {
              color: #83858a;
              font-size: 14px;
            }

          }

        }

        .tab--active {
          background-color: $primary-color;
          color: #fff;
          transition: background-color 0.1s ease-out;
          box-shadow: 0 0 7px 0.2px rgba(0, 0, 0, 0.479);

          .tab__sn {
            color: #fff;
          }

          .tab__content {
            h2 {
              opacity: 1;
            }

            p {
              color: #fff;
            }
          }
        }
      }

      .screens {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 3% 0;

        .screen__container {
          height: 50%;
          width: 100%;
          display: flex;
          justify-content: center;

          img {
            width: 60%;
            max-width: 60%;
          }
        }
      }

    }
  }
}

