// Import partials
@import 'config';
@import 'utilities';
@import 'buttons';

// header styling start

header {
  @extend .container;
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  margin-top: 18.5px;
  margin-bottom: 6.5px;
  z-index: 1;
  
  // logo styling
  .logo-container {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Tangerine', cursive;
    font-size: 27px;
    height: 100%;
  }

  a {
    color: $dark;
  
    &:hover {
      color: $primary-color
    }

    h2 {
      margin: 0;
    }
  }

  // menu button styling

  .menu-btn {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 50px;
      width: 50px;
      background-color: transparent;
      margin-right: 20%;
      z-index: 10000;
    }

    &__container--open  {
      .menu-btn__bar:nth-child(1) {
        margin: 0;
        width: 8%;
        position: absolute;
        transform: rotate(45deg); //translate(1px);
        transition: transform .2s ease;
      }

      .menu-btn__bar:nth-child(2) {
        margin: 0;
        width: 8%;
        position: absolute;
        transform: rotate(-45deg); //translate(-1px);
        transition: transform .2s ease;
      }
    }

    // menu bars styling start

    &__bar {
      height: 2px;
      width: 70%;
      background-color: $dark;
      margin-top: 7%;
      margin-bottom: 7%;

      &:nth-child(2) {
        width: 50%;
      }
    }

    // expanded menu content start

    .devs {
      display: none;
    }

    .devs--active {
      position: absolute;
      padding: 0.4rem 1%;
      margin-left: 20px;
      background-color: $light;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100;

      div a {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
          i {
            color: $primary-color !important;
          } 
        }

        h5 {
          margin: 0 15px 0 5px;
        }

        i {
          text-align: center; 
          font-size: 35px;
          color: #413C85;
        }
      }
    } // expanded menu content end

    // hamburger animation start

    @keyframes view {
      from {
       width: 0;
       opacity: -5;
       transform: scaleY(0)
      };

      to {
        height: auto;
        width: 70%;
        opacity: 1;
        transform: scaleY(1)
      }
    } // hamburger animation end

  }  // menu bars styling start

} // header styling end

// desktop scroll buttons styling start

.scroll {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 3%;
  bottom: 40%;
  z-index: 1;

  &__btn {
    height: 7px;
    width: 7px;
    background-color: $dark;
    margin: 0.5rem;
    transform: rotate(45deg);
    cursor: pointer;

    &--current {
      border-radius: 100%;
      transform: scale(1.4);
      background-color: transparent;
      border: 1px solid $dark;
      box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.24);
    }

    &:hover {
      box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.24);
    }
  }
} // desktop scroll buttons styling end


// form hero section styling

#top {
  @include set-background($light);
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
  position: relative;
  padding-bottom: 0;

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  
    &__left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      width: 100%;
      z-index: 1;
  
      &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1% 15%;
        background-color: $light;
        z-index: 4;
        
        h1 {
          text-align: center;
          font-size: 45px;
          font-weight: 500;
          margin-bottom: 1.2rem;
          // font-family: 'Piedra', cursive;
        }
  
        p {
          text-align: center;
          line-height: 30px;
          font-weight: 300;
          margin: 0 0 1rem;
          font-size: 18px;
        }
  
        .hero__btn {
          display: flex;
          flex-direction: row;
        }
      }
    }
  
    &__right {
      display: flex;
      align-items: center;
      width: 50%;
      height: 100% !important;
      background-size: cover;
      z-index: 1;
      position: relative;

      .form-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: 1;
        padding: 0;

        form {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 0.4rem;
        }

        .form-group {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          label {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            border: 1px solid #e1e1e1;
            border-radius: 45px;
            overflow: hidden;
            background-color: transparent;
            padding: 7px 10px 7px 20px;
            background-color: #fff;

          }

          .label--active {
            border-color: $primary-color;
          }

          #email {
            width: 70%;
            padding: 0.7rem 1rem;
            border: none;
            background-color: #fff;
            box-shadow: none;
            border-radius: 45px;
            // font-size: 14px;

            &::placeholder {
              opacity: 0.5;
              color: $dark;
            }

            &:focus {
              outline: none;
            }
          }

          #submit {
            width: 30%;
            height: 100%;
            border: none;
            background-color: $primary-color;
            color: $light;
            border-radius: 45px;

            &:focus {
              outline: none;
            }
          }

          .dance {
            animation: 0.4s linear 0s infinite running shake;

            @keyframes shake {
              25% {
                transform: rotate(1deg);
              }

              50% {
                transform: rotate(0deg);
              }

              75% {
                transform: rotate(-1deg);
              }

              100% {
                transform: rotate(0deg);
              }
            }
          }

          .loader {
            width: 30%;
            height: 100%;
            border: none;
            background-color: #F0F0FC;
            color: $light;
            border-radius: 45px;
            overflow: hidden;
            display: none;

            img {
              max-width: 70%;
              width: 60%;
              text-align: center;
            }
          }
        }
      }

      .swoosh {
        color: green;
        transition: display 0.2s ease-in-out;
      }
    }

    // social icon styling
  
    &__social {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      z-index: 3;
  
      i {
        margin: 1rem;
        font-size: 40px;
      }

      i:nth-child(1):hover, i:nth-child(2):hover {
        transform: rotate(10deg);
      }

      i:nth-child(3):hover, i:nth-child(4):hover {
        transform: rotate(-10deg);
      }
    }
  }
} // form hero section styling


// app mockup display section start

#second {
  @include set-background(#fff);
  
  .showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 5rem;

      h2 {
        font-size: 35px;
        padding: 0% 7%;
      }

      p {
        text-align: center;
        padding: 0 20%;
      }
    }

    .display {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      width: 100%;

      .tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 30%;
        padding: 0 2%;

        .tab {
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 7%;
          margin: 7% 0;
          border-radius: 20px;
          box-shadow: 0 0 7px 0.2px rgba(0, 0, 0, 0.137);
          cursor: pointer;
          user-select: none;

          &__sn {
            margin-right: 10px;
            color: $primary-color;
            cursor: pointer;
            user-select: none;
          }

          &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            cursor: pointer;
            user-select: none;

            h2 {
              font-weight: 500;
              font-size: 18px;
              margin-bottom: 1rem;
              columns: $dark;
              opacity: 0.8;
            }

            p {
              color: #83858a;
              font-size: 14px;
            }

          }

        }

        .tab--active {
          background-color: $primary-color;
          color: #fff;
          transition: background-color 0.1s ease-out;
          box-shadow: 0 0 7px 0.2px rgba(0, 0, 0, 0.479);

          .tab__sn {
            color: #fff;
          }

          .tab__content {
            h2 {
              opacity: 1;
            }

            p {
              color: #fff;
            }
          }
        }
      }

      .screens {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 3% 0;

        .screen__container {
          height: 50%;
          width: 100%;
          display: flex;
          justify-content: center;

          a {
            width: 100%;
            display: flex;
            justify-content: center;
          }

          img {
            width: 70%;
            max-width: 70%;
            height: 100%;
            position: relative;
            right: -17px;
          }
        }
      }

      .mobile-tab {
        display: none;

        &__text {
          display: none;
        }
      }

    }
  }
} // app display section start

// footer styling

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: #f6f6f8;
  color: $dark;
  padding: 5% 0 0;
  // box-shadow: inset 0 -95px 3px 0 #413C85;

  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .footer__cta {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 70%;

      .footer__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
          text-align: center;
          font-size: 35px;
        }

        p {
          padding: 0 2rem;
        }
      }
    }
  }

  .footer__hero {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;

    img {
      position: relative;
      bottom: -10px;
      width: 100%;
    }
  }

  .footer__button__container {
    display: flex;
    width: 100%;
    margin: 2rem 2rem 1rem;
    justify-content: center;

    button {
      width: 85%;
      border: none;
      padding: 1.7rem;
      border-radius: 50px;
      background-color: #fff;
      color: $light;
      display: flex;
      align-items: center;
      position: relative;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.137);;

      &:focus {
        outline: none;
      }

      p {
        text-align: left;
        width: 80%;
        font-size: 18px;
        color: $dark;
        opacity: 0.7;
      }

      .footer__circle {
        width: 4rem;
        height: 4rem;
        right: 0.8rem;
        position: absolute;
        background-color: #413C85;
        border-radius: 50%;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-size: 35px;
          animation: 0.6s linear 0s infinite running pump;
        }

        @keyframes pump {

          25% {
            transform: translateY(1px);
          }

          50% {
            transform: translateY(0px);
          }

          75% {
            transform: translateY(-1px);
          }

          100% {
            transform: translateY(0px);
          }
        }
      }
    }
  }
} // footer styling

// responsive styling import

@import 'responsive';