@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Piedra&family=Roboto:wght@300;400;500;700;900&family=Sacramento&family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html body {
  height: auto;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  /* Change the white to any color ;) */
}

body input:-webkit-autofill,
body input:-webkit-autofill:hover,
body input:-webkit-autofill:focus,
body input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FAFAFE;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

p {
  color: #4B505E;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}

.my-1 {
  margin: 1rem;
}

.my-2 {
  margin: 2rem;
}

.my-3 {
  margin: 3rem;
}

.my-4 {
  margin: 4rem;
}

.my-5 {
  margin: 5rem;
}

.container, header {
  padding-left: 7%;
  padding-right: 7%;
  height: 100%;
}

section {
  padding: 10% 7%;
}

.hero__btn--light, .hero__btn--dark {
  border: 1px solid;
  padding: 0.8rem 1.5rem;
  margin: 0.5rem 1rem 0.5rem 0;
  border-radius: 10px;
}

.hero__btn--light:hover, .hero__btn--dark:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero__btn--light a, .hero__btn--dark a {
  color: #383e56;
}

.hero__btn--light {
  background-color: #f69e7b;
  border-color: #fd8251;
}

.hero__btn--dark {
  border-color: #fff;
}

header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 18.5px;
  margin-bottom: 6.5px;
  z-index: 1;
}

header .logo-container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Tangerine', cursive;
  font-size: 27px;
  height: 100%;
}

header a {
  color: #383e56;
}

header a:hover {
  color: #6754e2;
}

header a h2 {
  margin: 0;
}

header .menu-btn {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

header .menu-btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 50px;
  width: 50px;
  background-color: transparent;
  margin-right: 20%;
  z-index: 10000;
}

header .menu-btn__container--open .menu-btn__bar:nth-child(1) {
  margin: 0;
  width: 8%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

header .menu-btn__container--open .menu-btn__bar:nth-child(2) {
  margin: 0;
  width: 8%;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

header .menu-btn__bar {
  height: 2px;
  width: 70%;
  background-color: #383e56;
  margin-top: 7%;
  margin-bottom: 7%;
}

header .menu-btn__bar:nth-child(2) {
  width: 50%;
}

header .menu-btn .devs {
  display: none;
}

header .menu-btn .devs--active {
  position: absolute;
  padding: 0.4rem 1%;
  margin-left: 20px;
  background-color: #FAFAFE;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

header .menu-btn .devs--active div a {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu-btn .devs--active div a:hover i {
  color: #6754e2 !important;
}

header .menu-btn .devs--active div a h5 {
  margin: 0 15px 0 5px;
}

header .menu-btn .devs--active div a i {
  text-align: center;
  font-size: 35px;
  color: #413C85;
}

@-webkit-keyframes view {
  from {
    width: 0;
    opacity: -5;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    height: auto;
    width: 70%;
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes view {
  from {
    width: 0;
    opacity: -5;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    height: auto;
    width: 70%;
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.scroll {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 3%;
  bottom: 40%;
  z-index: 1;
}

.scroll__btn {
  height: 7px;
  width: 7px;
  background-color: #383e56;
  margin: 0.5rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.scroll__btn--current {
  border-radius: 100%;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  background-color: transparent;
  border: 1px solid #383e56;
  -webkit-box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.24);
}

.scroll__btn:hover {
  -webkit-box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.24);
}

.scroll--light .scroll__btn {
  background-color: #6754e2;
}

.scroll--light .scroll__btn--current {
  background-color: transparent;
  border: 1px solid #6754e2;
  -webkit-box-shadow: 0px 0px 2px 3px #d4b5b011;
          box-shadow: 0px 0px 2px 3px #d4b5b011;
}

.scroll--light .scroll__btn:hover {
  -webkit-box-shadow: 0px 0px 2px 3px #d4b5b011;
          box-shadow: 0px 0px 2px 3px #d4b5b011;
}

#top {
  background-color: #FAFAFE;
  color: #383e56;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: proximity;
      scroll-snap-type: proximity;
  position: relative;
  padding-bottom: 0;
}

#top .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#top .hero__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#top .hero__left__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1% 15%;
  background-color: #FAFAFE;
  z-index: 4;
}

#top .hero__left__text-container h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

#top .hero__left__text-container p {
  text-align: center;
  line-height: 30px;
  font-weight: 300;
  margin: 0 0 1rem;
  font-size: 18px;
}

#top .hero__left__text-container .hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#top .hero__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100% !important;
  background-size: cover;
  z-index: 1;
  position: relative;
}

#top .hero__right .form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding: 0;
}

#top .hero__right .form-box form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.4rem;
}

#top .hero__right .form-box .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#top .hero__right .form-box .form-group label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 45px;
  overflow: hidden;
  background-color: transparent;
  padding: 7px 10px 7px 20px;
  background-color: #fff;
}

#top .hero__right .form-box .form-group .label--active {
  border-color: #6754e2;
}

#top .hero__right .form-box .form-group #email {
  width: 70%;
  padding: 0.7rem 1rem;
  border: none;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 45px;
}

#top .hero__right .form-box .form-group #email::-webkit-input-placeholder {
  opacity: 0.5;
  color: #383e56;
}

#top .hero__right .form-box .form-group #email:-ms-input-placeholder {
  opacity: 0.5;
  color: #383e56;
}

#top .hero__right .form-box .form-group #email::-ms-input-placeholder {
  opacity: 0.5;
  color: #383e56;
}

#top .hero__right .form-box .form-group #email::placeholder {
  opacity: 0.5;
  color: #383e56;
}

#top .hero__right .form-box .form-group #email:focus {
  outline: none;
}

#top .hero__right .form-box .form-group #submit {
  width: 30%;
  height: 100%;
  border: none;
  background-color: #6754e2;
  color: #FAFAFE;
  border-radius: 45px;
}

#top .hero__right .form-box .form-group #submit:focus {
  outline: none;
}

#top .hero__right .form-box .form-group .dance {
  -webkit-animation: 0.4s linear 0s infinite running shake;
          animation: 0.4s linear 0s infinite running shake;
}

@-webkit-keyframes shake {
  25% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  25% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#top .hero__right .form-box .form-group .loader {
  width: 30%;
  height: 100%;
  border: none;
  background-color: #F0F0FC;
  color: #FAFAFE;
  border-radius: 45px;
  overflow: hidden;
  display: none;
}

#top .hero__right .form-box .form-group .loader img {
  max-width: 70%;
  width: 60%;
  text-align: center;
}

#top .hero__right .swoosh {
  color: green;
  -webkit-transition: display 0.2s ease-in-out;
  transition: display 0.2s ease-in-out;
}

#top .hero__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  z-index: 3;
}

#top .hero__social i {
  margin: 1rem;
  font-size: 40px;
}

#top .hero__social i:nth-child(1):hover, #top .hero__social i:nth-child(2):hover {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

#top .hero__social i:nth-child(3):hover, #top .hero__social i:nth-child(4):hover {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

#second {
  background-color: #fff;
  color: #383e56;
}

#second .showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  overflow-x: hidden;
}

#second .showcase__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

#second .showcase__header h2 {
  font-size: 35px;
  padding: 0% 7%;
}

#second .showcase__header p {
  text-align: center;
  padding: 0 20%;
}

#second .showcase .display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 100%;
}

#second .showcase .display .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 30%;
  padding: 0 2%;
}

#second .showcase .display .tabs .tab {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7%;
  margin: 7% 0;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 7px 0.2px rgba(0, 0, 0, 0.137);
          box-shadow: 0 0 7px 0.2px rgba(0, 0, 0, 0.137);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#second .showcase .display .tabs .tab__sn {
  margin-right: 10px;
  color: #6754e2;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#second .showcase .display .tabs .tab__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#second .showcase .display .tabs .tab__content h2 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 1rem;
  -webkit-columns: #383e56;
          columns: #383e56;
  opacity: 0.8;
}

#second .showcase .display .tabs .tab__content p {
  color: #83858a;
  font-size: 14px;
}

#second .showcase .display .tabs .tab--active {
  background-color: #6754e2;
  color: #fff;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
  -webkit-box-shadow: 0 0 7px 0.2px rgba(0, 0, 0, 0.479);
          box-shadow: 0 0 7px 0.2px rgba(0, 0, 0, 0.479);
}

#second .showcase .display .tabs .tab--active .tab__sn {
  color: #fff;
}

#second .showcase .display .tabs .tab--active .tab__content h2 {
  opacity: 1;
}

#second .showcase .display .tabs .tab--active .tab__content p {
  color: #fff;
}

#second .showcase .display .screens {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3% 0;
}

#second .showcase .display .screens .screen__container {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#second .showcase .display .screens .screen__container img {
  width: 60%;
  max-width: 60%;
  position: relative;
  right: -17px;
}

#second .showcase .display .mobile-tab {
  display: none;
}

#second .showcase .display .mobile-tab__text {
  display: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  background: #f6f6f8;
  color: #383e56;
  padding: 5% 0 0;
}

footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__container .footer__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 70%;
}

footer .footer__container .footer__cta .footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__container .footer__cta .footer__header h2 {
  text-align: center;
  font-size: 35px;
}

footer .footer__container .footer__cta .footer__header p {
  padding: 0 2rem;
}

footer .footer__hero {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  height: 100%;
  overflow: hidden;
}

footer .footer__hero img {
  position: relative;
  bottom: -10px;
  width: 100%;
}

footer .footer__button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 2rem 2rem 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__button__container button {
  width: 85%;
  border: none;
  padding: 1.7rem;
  border-radius: 50px;
  background-color: #fff;
  color: #FAFAFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.137);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.137);
}

footer .footer__button__container button:focus {
  outline: none;
}

footer .footer__button__container button p {
  text-align: left;
  width: 80%;
  font-size: 18px;
  color: #383e56;
  opacity: 0.7;
}

footer .footer__button__container button .footer__circle {
  width: 4rem;
  height: 4rem;
  right: 0.8rem;
  position: absolute;
  background-color: #413C85;
  border-radius: 50%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__button__container button .footer__circle i {
  font-size: 35px;
  -webkit-animation: 0.6s linear 0s infinite running pump;
          animation: 0.6s linear 0s infinite running pump;
}

@-webkit-keyframes pump {
  25% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes pump {
  25% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media (max-width: 950px) {
  body {
    background-color: #FAFAFE;
  }
  header {
    position: relative;
    height: 4rem;
    background-color: #FAFAFE;
  }
  header .menu-btn {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 10px;
  }
  header .menu-btn__container {
    margin: 0;
    width: 40px;
    position: absolute;
  }
  header .menu-btn__container .menu-btn__bar:nth-child(1) {
    width: 40px;
  }
  header .menu-btn__container .menu-btn__bar:nth-child(2) {
    width: 30px;
  }
  header .menu-btn__container--open .menu-btn__bar:nth-child(1) {
    margin: 0;
    width: 30px;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
  }
  header .menu-btn__container--open .menu-btn__bar:nth-child(2) {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0;
    width: 30px;
    position: absolute;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
  }
  header .menu-btn .devs--active {
    position: absolute;
    padding: 0.4rem 1% 0.4rem 0;
    margin-left: 0;
    background-color: #FAFAFE;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 100;
  }
  header .menu-btn .devs--active div a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .menu-btn .devs--active div a h5 {
    margin: 0 15px 0 5px;
  }
  header .menu-btn .devs--active div a i {
    text-align: center;
    font-size: 25px;
  }
  .scroll {
    display: none;
  }
  #top .hero__left__text-container {
    padding: 1% 0%;
  }
  #top .hero__left__text-container h1 {
    font-size: 24px;
  }
  #top .hero__left__text-container p {
    font-size: 16px;
  }
  #top .hero__social {
    margin: 0;
  }
  #top .hero__social i {
    font-size: 27px;
    margin: 1rem 0.5rem;
  }
  #top .hero__right {
    width: 100%;
  }
  #second {
    background-color: #fff;
    padding: 10% 7%;
  }
  #second .showcase__header {
    padding: 0;
    margin-bottom: 3rem;
  }
  #second .showcase__header h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
  }
  #second .showcase__header p {
    padding: 1%;
    color: #7b7d81;
    font-size: 14px;
  }
  #second .showcase .display {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
  }
  #second .showcase .display .tabs {
    width: 15%;
    margin-top: 2rem;
    display: none;
  }
  #second .showcase .display .screens {
    width: 60%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #second .showcase .display .screens .screen__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
  #second .showcase .display .screens .screen__container img {
    width: 95%;
    max-width: 95%;
    height: 100%;
    right: 0;
  }
  #second .showcase .display .mobile-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 40%;
    height: 100%;
  }
  #second .showcase .display .mobile-tab__text--active {
    display: block;
    height: 100%;
  }
  #second .showcase .display .mobile-tab__text--active h2 {
    font-size: 20px;
    text-align: left;
    color: #383e56;
  }
  #second .showcase .display .mobile-tab__text--active p {
    margin: 5px 0;
    text-align: left;
  }
  #second .showcase .display .mobile-tab__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #second .showcase .display .mobile-tab__slider .mobile__tab__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    margin: 16px 7px 0 0;
    padding: 10px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 7px 0.2px rgba(0, 0, 0, 0.137);
            box-shadow: 0 0 7px 0.2px rgba(0, 0, 0, 0.137);
  }
  #second .showcase .display .mobile-tab__slider .mobile__tab__nav p {
    margin: 7px;
  }
  #second .showcase .display .mobile-tab__slider .mobile__tab__nav i {
    font-size: 22px;
  }
  footer .footer__container .footer__cta {
    width: 100%;
    padding: 8% 0 0;
  }
  footer .footer__container .footer__cta .footer__header h2 {
    font-size: 24px;
    margin-bottom: 1rem;
  }
  footer .footer__container .footer__cta .footer__header p {
    font-size: 14px;
  }
  footer .footer__button__container button {
    padding: 1.5rem;
  }
  footer .footer__button__container button .footer__circle {
    right: 0.8rem;
    height: 3.5rem;
    width: 3.5rem;
  }
}
